spring:
  datasource:
    url: jdbc:mysql://localhost/vollmed_api?createDatabaseIfNotExist=true&serverTimezone=UTC&useSSl=false
    username: root
    password: N...
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
